<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <div class="root">
        <div class="msgs_box" id="msgBox"></div>

        <div class="online">
            当前在线人数：<span id="online">0</span> 人
            <br />
            @<select name="select" id="select" onchange="privateTo = this.value"></select>
            <input type="text" name="pMsg" id="pMsg">
            <button id="sendpMsg">发送私聊</button>
        </div>

        <div class="me">
            <span>{{ username }}</span>
            <input type="text" name="content" id="content">
            <input type="button" value="send" id="sendBtn">
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
    var socket = io('http://localhost:2333');
    var privateTo;
    socket.on('connect', function(){
        console.log('connect on')
        // 登录 同步前后的信息
        socket.emit('login', {
            id: {{ id }}
        })
    });
    socket.on('message', function(data){
        console.log(data)
    });
    socket.on('disconnect', function(){
        console.log('shut down')
    });

    // 实时 获取 在线用户
    socket.on('online', data => {
        let users = Object.values(data.online)
        // 人数
        document.getElementById('online').innerText = users.length
        // 列表
        let select = document.getElementById('select')
        let html = ''
        for (let i = 0; i < users.length; i++) {
            let u = users[i]
            html += `
                <option value="${u.socketid}">
                    ${u.username}
                </option>`
        }
        select.innerHTML = html
    })
    </script>
    <script>
        document.getElementById('sendBtn').addEventListener('click', () => {
            var content = document.getElementById('content').value

            socket.emit('clientMsg', {
                content
            })
        })

        socket.on('allMessage', data => {
                let { username, content } = data
                console.log(username + ':' + content)
                console.log('every')

                // console.log(data)

                // let domP = document.createElement('p')
                // domP.innerText = username + ': ' + content

                // document.getElementById('msgBox').appendChild(domP)
        })

        document.getElementById('sendpMsg').addEventListener('click', () => {
            console.log('send private')
            socket.emit('privateChat', {
                msg: document.getElementById('pMsg').value,
                to: privateTo       // socketid
            })
        })
    </script>
</body>
</html>