<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="chat.css">
</head>
<body>
    <div>
        <div class="msgs_box" id="msgBox">
            {{ each msgs }}
            <p>
                <span>{{ $value.username }}: </span>
                <span>{{ $value.content }}</span>
            </p>
            {{ /each }}
        </div>

        <span>{{ username }}</span>
        <input type="text" name="content" id="content">
        <input type="button" value="send" id="sendBtn">
    </div>
    <script>
        document.getElementById('sendBtn').addEventListener('click', () => {
            var xhr = new XMLHttpRequest()
            var content = document.getElementById('content').value
            xhr.open('post', 'send')
            xhr.setRequestHeader('content-type', 'application/x-www-form-urlencoded')
            xhr.send('msg=' + content)
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    console.log(xhr.responseText)
                    var arr = JSON.parse(xhr.responseText)
                    var html = ''
                    
                    for (let i = 0; i < arr.length; i++) {
                        html += '<p><span>' + arr[i].username + ': </span><span>' + arr[i].content + '</span></p>'
                    }

                    document.getElementById('msgBox').innerHTML = html

                }
            }
        })
    </script>
</body>
</html>